:root {
   --scale-color: rgb(92, 92, 92);
   --big-delimeter-color: rgb(168, 168, 168);
   --hour-hand: linear-gradient(rgb(109, 85, 85), rgb(77, 50, 50));
   --minute-hand: rgb(168, 129, 129);
   --sec-hand: rgb(255, 46, 46);
   --spring-color: linear-gradient(rgb(147, 80, 80), rgb(73, 28, 28));
   --clock-w-h: 360px;
   --clock-w-h-inner: 330px;
   --calendar-w-h: 400px;
   --main-color: #102323;
   --textcolor-menu: whitesmoke;
}

* {
   margin: 0;
   padding: 0;
   background-color: var(--main-color);
}

.app-container {
   display: flex;
   margin: 2rem;
   position: relative;
   justify-content: center;
   align-items: center;
   flex-flow: row wrap;
   min-height: 100vh;
}

.frames {
   position: relative;
   width: 400px;
   height: 400px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.frames__clock-frame {
   display: flex;
   box-sizing: border-box;
   position: absolute;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   min-width: var(--clock-w-h);
   min-height: var(--clock-w-h);
   border: 4px solid #102020;
   box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
      inset 0 -15px 15px rgba(255, 255, 255, 0.05),
      0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
   transition: all 0.5s linear;
}

.scale-container {
   position: absolute;
   border-radius: 50%;
   width: var(--clock-w-h-inner);
   height: var(--clock-w-h-inner);
   z-index: 10;
}

.clock-numbers {
   all: unset;
   display: flex;
   position: relative;
   margin: auto;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   width: var(--clock-w-h-inner);
   height: var(--clock-w-h-inner);
   color: whitesmoke;
   box-sizing: border-box;
   border-radius: 50%;
}

.clock-numbers__12,
.clock-numbers__3,
.clock-numbers__9,
.clock-numbers__6 {
   all: unset;
   position: absolute;
   z-index: 11;
   box-sizing: content-box;
}

.clock-numbers__3,
.clock-numbers__9 {
   padding: 0 2rem 0.5rem 2rem;
}

.clock-numbers__6 {
   padding: 1.5rem;
}
.clock-numbers__12 {
   padding: 1.25rem;
}

.clock-numbers__12,
.clock-numbers__3,
.clock-numbers__6,
.clock-numbers__9 {
   font-family: Cochin, Georgia;
   font-size: 2.2rem;
   font-weight: 800;
}

.clock-numbers__12 {
   top: 0;
}
.clock-numbers__3 {
   right: 0;
}
.clock-numbers__6 {
   bottom: 0;
}
.clock-numbers__9 {
   left: 0;
}

.menu {
   display: flex;
   position: relative;
   border-radius: 1rem;
   width: 400px;
   box-sizing: border-box;
   flex-flow: row wrap;
   border: solid 4px rgb(43, 41, 41);
   box-shadow: 0 -5px 15px rgba(255, 255, 255, 0.125),
      0 -25px 15px rgba(255, 255, 255, 0.055),
      10px 5px 50px rgba(0, 0, 0, 0.403), 5px 10px 25px rgb(0, 0, 0);
}

.menu__option,
.menu__option--rotated {
   min-width: 390px;
   margin: 0.3rem 0;
   height: 3rem;
   color: var(--textcolor-menu);
   position: relative;
   vertical-align: middle;
   transform-origin: center;
   text-align: center;
   display: flex;
   transform-style: preserve-3d;
   background-color: unset;
   transition: all 0.5s ease-in;
}

.menu__option:first-of-type .menu__btn {
   margin-top: 0;
   border-radius: 1rem 1rem 0 0;
}

.menu__option:last-of-type .menu__btn {
   border-radius: 0 0 1rem 1rem;
}

.menu__option--front,
.menu__option--back,
.menu__option--top,
.menu__option--bottom {
   width: 100%;
   height: 100%;
   text-align: center;
   display: flex;
   margin: 0;
   position: absolute;
   border-radius: 0% 0% 0% 0% !important;
}

.menu__option--front {
   transform: translateZ(1.5rem);
}

.menu__option--top {
   transform: rotateX(90deg) translateZ(1.5rem);
   background: linear-gradient(var(--main-color), rgb(20, 37, 39));
}

.menu__option--bottom {
   transform: rotateX(-90deg) translateZ(1.5rem);
}

.menu__option--back {
   transform: rotateX(180deg) translateZ(1.5rem);
}

.menu__option--rotated {
   transform: rotateX(-180deg);
   transition: all 0.5s ease-in;
}

.menu__btn {
   all: unset;
   flex: 1 1 auto;
   display: block;
   height: 100%;
   border-top: 1px solid rgb(48, 48, 48);
   color: var(--textcolor-menu);
   background: linear-gradient(rgb(29, 38, 39) 1%, var(--main-color) 99%);
   margin: auto;
   width: 100%;
}

.menu__btn--back {
   all: unset;
   flex: 1 1 auto;
   display: block;
   height: 100%;
   border-top: 1px solid rgb(48, 48, 48);
   color: var(--textcolor-menu);
   background: linear-gradient(rgb(29, 38, 39) 1%, var(--main-color) 99%);
   margin: auto;
}

.menu__btn:hover,
.menu__btn--back:hover {
   cursor: pointer;
   color: brown;
}

.menu__btn:active,
.menu__btn--back:active {
   box-shadow: inset 0 1px 3px rgb(212, 22, 22);
   /* transition: all .5s linear; */
}

.clock-springs {
   all: unset;
   top: -100%;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   min-width: var(--clock-w-h-inner);
   min-height: var(--clock-w-h-inner);
   max-width: var(--clock-w-h-inner);
   max-height: var(--clock-w-h-inner);
}

.clock-springs__hour,
.clock-springs__minute,
.clock-springs__second {
   display: flex;
   justify-content: center;
   background-color: rgba(255, 255, 255, 0);
   position: absolute;
}

.clock-springs__hour {
   width: 160px;
   height: 160px;
   z-index: 11;
}

.clock-springs__minute {
   width: 220px;
   height: 220px;
   z-index: 12;
}

.clock-springs__second {
   width: 280px;
   height: 280px;
   z-index: 13;
}

.clock-springs__central {
   position: absolute;
   top: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: -6px;
   width: 12px;
   height: 12px;
   z-index: 20;
   background: var(--spring-color);
   border-radius: 50%;
   box-shadow: 1px 1px 5px rgb(24, 24, 24);
}

.central::after {
   content: '';
   position: absolute;
   background-color: rgb(123, 123, 123);
   z-index: 20;
   width: 2px;
   height: 2px;
   border-radius: 50%;
   box-shadow: -1px -1px 3px white;
   margin: auto;
}

.clock-springs__hour--::after {
   content: '';
   bottom: 0;
   width: 2px;
   height: 70px;
   background: linear-gradient(rgb(185, 131, 131), rgb(111, 51, 51));
}

.clock-springs__minute--::after {
   content: '';
   bottom: 0;
   width: 1px;
   height: 95px;
   background: rgb(255, 255, 255);
}

/***************CALENDAR****************/

.calendar-frame {
   display: flex;
   position: absolute;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   border-radius: 1rem;
   width: var(--clock-w-h);
   height: var(--clock-w-h);
   border: 4px solid #102020;
   color: var(--textcolor-menu);
   box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
      inset 0 -15px 15px rgba(255, 255, 255, 0.05),
      0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
   transition: all 0.5s linear;
}

.calendar-frame.show {
   display: flex;
}

.DayPicker {
   font-size: 1rem;
   border-radius: 5rem;
}


.DayPicker-wrapper {
   position: relative;
   height: 250px;
   border-radius: 5rem;
   flex-direction: row;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.DayPicker-Months {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   line-height: 0.9rem;
   border-radius: 5rem;
}

.DayPicker-Month {
   display: table;
   margin: 0 1em;
   margin-top: 1em;
   border-spacing: 0;
   border-collapse: collapse;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.DayPicker-NavButton {
   position: absolute;
   top: 1em;
   right: 1.5em;
   left: auto;

   display: inline-block;
   margin-top: 2px;
   width: 1.25em;
   height: 1.25em;
   background-position: center;
   background-size: 50%;
   background-repeat: no-repeat;
   color: #8b9898;
   cursor: pointer;
}

.DayPicker-NavButton:hover {
   opacity: 0.8;
}

.DayPicker-NavButton--prev {
   margin-right: 1.5em;
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAVVJREFUWAnN2G0KgjAYwPHpGfRkaZeqvgQaK+hY3SUHrk1YzNLay/OiEFp92I+/Mp2F2Mh2lLISWnflFjzH263RQjzMZ19wgs73ez0o1WmtW+dgA01VxrE3p6l2GLsnBy1VYQOtVSEH/atCCgqpQgKKqYIOiq2CBkqtggLKqQIKgqgCBjpJ2Y5CdJ+zrT9A7HHSTA1dxUdHgzCqJIEwq0SDsKsEg6iqBIEoq/wEcVRZBXFV+QJxV5mBtlDFB5VjYTaGZ2sf4R9PM7U9ZU+lLuaetPP/5Die3ToO1+u+MKtHs06qODB2zBnI/jBd4MPQm1VkY79Tb18gB+C62FdBFsZR6yeIo1YQiLJWMIiqVjQIu1YSCLNWFgijVjYIuhYYCKoWKAiiFgoopxYaKLUWOii2FgkophYp6F3r42W5A9s9OcgNvva8xQaysKXlFytoqdYmQH6tF3toSUo0INq9AAAAAElFTkSuQmCC');
}

.DayPicker-NavButton--next {
   background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAwCAYAAAB5R9gVAAAABGdBTUEAALGPC/xhBQAAAXRJREFUWAnN119ugjAcwPHWzJ1gnmxzB/BBE0n24m4xfNkTaOL7wOtsl3AXMMb+Vjaa1BG00N8fSEibPpAP3xAKKs2yjzTPH9RAjhEo9WzPr/Vm8zgE0+gXATAxxuxtqeJ9t5tIwv5AtQAApsfT6TPdbp+kUBcgVwvO51KqVhMkXKsVJFXrOkigVhCIs1Y4iKlWZxB1rX4gwlpRIIpa8SDkWmggrFq4IIRaJKCYWnSgnrXIQV1r8YD+1Vrn+bReagysIFfLABRt31v8oBu1xEBttfRbltmfjgEcWh9snUS2kNdBK6WN1vrOWxObWsz+fjxevsxmB1GQDfINWiev83nhaoiB/CoOU438oPrhXS0WpQ9xc1ZQWxWHqUYe0I0qrKCQKjygDlXIQV2r0IF6ViEBxVTBBSFUQQNhVYkHIVeJAtkNsbQ7c1LtzP6FsObhb2rCKv7NBIGoq4SDmKoEgTirXAcJVGkFSVVpgoSrXICGUMUH/QBZNSUy5XWUhwAAAABJRU5ErkJggg==');
}

.DayPicker-NavButton--interactionDisabled {
   display: none;
}

.DayPicker-Caption {
   display: table-caption;
   margin-bottom: 0.5em;
   padding: 0 0.5em;
   text-align: left;
}

.DayPicker-Caption > div {
   font-weight: 500;
   font-size: 1.15em;
}

.DayPicker-Weekdays {
   display: table-header-group;
   margin-top: 1em;
}

.DayPicker-WeekdaysRow {
   display: table-row;
}

.DayPicker-Weekday {
   display: table-cell;
   padding: 0.5em;
   color: #8b9898;
   text-align: center;
   font-size: 0.875em;
}

.DayPicker-Weekday abbr[title] {
   border-bottom: none;
   text-decoration: none;
}

.DayPicker-Body {
   display: table-row-group;
}

.DayPicker-Week {
   display: table-row;
}

.DayPicker-Day {
   display: table-cell;
   padding: 0.5em;
   border-radius: 50%;
   vertical-align: middle;
   text-align: center;
   cursor: pointer;
}

.DayPicker-WeekNumber {
   display: table-cell;
   padding: 0.5em;
   min-width: 1em;
   border-right: 1px solid #eaecec;
   color: #8b9898;
   vertical-align: middle;
   text-align: right;
   font-size: 0.75em;
   cursor: pointer;
}

.DayPicker--interactionDisabled .DayPicker-Day {
   cursor: default;
}

.DayPicker-Footer {
   text-align: center;
   width: 100%;
   position: absolute;
   bottom: 0;
}

.DayPicker-TodayButton {
   border: none;
   color: red;
   font-size: 1rem;
   cursor: pointer;
}

/* Default modifiers */

.DayPicker-Day--today {
   color: #d0021b;
   font-weight: 700;
}

.DayPicker-Day--outside {
   color: #8b9898;
   cursor: default;
}

.DayPicker-Day--disabled {
   color: #dce0e0;
   cursor: default;
   /* background-color: #eff1f1; */
}

/* Example modifiers */

.DayPicker-Day--sunday {
   background-color: #f7f8f8;
}

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
   color: #dce0e0;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
   position: relative;

   background-color: #4a90e2;
   color: #f0f8ff;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
   background-color: #51a0fa;
}

.DayPicker:not(.DayPicker--interactionDisabled)
   .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
   background-color: #f0f8ff;
}

/* DayPickerInput */

.DayPickerInput {
   display: inline-block;
   max-height: 90%;
   overflow: hidden;
}

.DayPickerInput input {
   all: unset;
   text-align: center;
   color: var(--textcolor-menu);
   line-height: 1.6rem;
   font-size: 1.2rem;
   height: 1.8rem;
   width: 100%;
}

.DayPickerInput-OverlayWrapper {
   position: relative;
}

.DayPickerInput-Overlay {
   z-index: 1;
}

/* ***************** ANIMATIONS ***************** */

/* ***************** END ANIMATIONS ***************** */

/* ****************** DELIMETERS ********************** */
.big-delimeter {
   position: absolute;
   opacity: 1;
   transform-origin: top;
   height: 15px;
   margin-left: -1px;
   width: 2px;
   background-color: rgb(168, 168, 168);
}

.small-delimeter {
   position: absolute;
   opacity: 1;
   transform-origin: top;
   width: 1px;
   height: 6px;
   background-color: rgb(92, 92, 92);
}

/* ****************** END DELIMETERS ********************** */
